= form_for PemFile.new do |f|
  .row
    .file-field.input-field
      .btn.blue
        %span Llave pública
        = f.file_field :public_key, accept:".cer"
      .file-path-wrapper
        %input.file-path.validate{:type => "text", placeholder:'Inserte el archivo .cer'}
  .row
    .file-field.input-field
      .btn.blue
        %span Llave privada
        = f.file_field :private_key, accept:".key"
      .file-path-wrapper
        %input.file-path.validate{:type => "text", placeholder:'Inserte el archivo .key'}

  .row
    .input-field
      %input#password.validate{:type => "password", name:'password'}/
      %label{:for => "password"} Contraseña

  .row.center
    %button.btn-large.green{type:'submit', value:'submit'}
      %i.material-icons.left
        done
      Generar
