#login-area.card-panel
  /logo becas
  .row
    .col.l12.m12.s12.xl12
      = #image_tag "cimav-logo-texto.png", id: 'cimav-logo',class:'responsive-img small'
    .col.l12.m12.s12.xl12.center
      =# image_tag "logo-pem.png", id: 'app-logo', class:'responsive-img'
    .col.l12.m12.s12-xl12.center
      %h5#login-title Archivos PEM
    .col.l12.m12.s12.xl12.center
      %a#login-button.cyan.darken-1.waves-effect.waves-light.btn.pulse{:href => "/auth/google_oauth2"} Ingresar